<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sala de juegos</title>
    <!-- <link rel="stylesheet" href="style2.css"> -->
</head>
<body>
    <main style="font-size: arial;">
        <div class="row">
          <h2 style="text-align: center; text-shadow:  1px;">Loguearse</h2>
            <div class="colm-form">
                <div class="form-container">
                  <input type="text" placeholder="email" [(ngModel)]="this.email">
                  <input type="password" placeholder="Password" [(ngModel)]="this.clave">
                  <button class="btn-login" style="background-color: black;" (click)="login()">Login</button>
                  <button class="btn-new" (click)="llenarDatosEmpleado()">Ingresar como Empleado</button>
                  <button class="btn-new" (click)="llenarDatosAdmin()">Ingresar como Administrador</button>
                </div>
                <div [class.error-message]="mensaje !== ''">
                  <p>{{this.mensaje}}</p>
              </div>
            </div>
        </div>
    </main>
<footer>

</footer>
</body>
</html>
