<body>
  <div class="container py-4">
    <div class="p-5 mb-4 bg-dark text-white rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Listado de Repartidores</h1>
        <div *ngIf="repartidores$ | async as repartidores; else loading">
          <!--<div *ngFor="let repartidor of repartidores" class="list-group mb-3">
            <button type="button" class="list-group-item list-group-item-action bg-secondary text-white" (click)="seleccionarRepartidor(repartidor)">
              Nombre: {{ repartidor.nombre +'' }}    DNI: {{ repartidor.dni }}
            </button>
          </div>-->
          <div class="table-responsive">
            <table class="table table-hover">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">DNI</th>
                  <th scope="col">Edad</th>
                  <th scope="col">Capacidad de transporte</th>
                  <th scope="col">Pais</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let repartidor of repartidores" (click)="seleccionarRepartidor(repartidor)" class="bg-secondary text-white">
                  <td>{{ repartidor.nombre }}</td>
                  <td>{{ repartidor.dni }}</td>
                  <td>{{ repartidor.edad }}</td>
                  <td>{{ repartidor.capacidadTransporte }}</td>
                  <td>{{ repartidor.pais }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <ng-template #loading>
          <p>Cargando...</p>
        </ng-template>
      </div>
    </div>
    <div class="row align-items-md-stretch">
      <div class="col-md-6" *ngIf="selectedRepartidor">
        <div class="h-100 p-5 bg-dark text-white rounded-3">
          <h2>Detalle del Repartidor</h2>
          <app-detalle-repartidor [repartidor]="selectedRepartidor"></app-detalle-repartidor>
        </div>
      </div>
      <div class="col-md-6" *ngIf="selectedRepartidor">
        <div class="h-70 p-5 bg-dark border rounded-3 text-white">
          <h2>Detalle del País</h2>
          <app-detalle-pais [pais]="selectedRepartidor.pais"></app-detalle-pais>
        </div>
      </div>
    </div>
  </div>

</body>
